@import 'main';

// Header reset
.left-branding h3 a{
  color: $primaryDarkColor !important;
}

.innerWebsite{
  height: auto;

  @media screen and (max-width: 500px){
    padding-bottom: 100px;
  }

}

.baseMessaging{
  margin-top: 20px;

  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.14);

  border-radius: 2px;

  .topBaseMessage{
    padding: 20px;

    h3{
      font-weight: 500;
      font-size: 1.3em;

      margin-bottom: 0px;
    }
  }

  .bottomBaseMessage{
    padding-bottom: 5px;

    form{

      .form-group{

        textarea{
          border-radius: 0px;
          padding: 25px;

          border: 1px solid #eee;
          border-right: 0px;
          border-left: 0px;

          height: 100px;
        }
      }

      .form-group.a-check{
        padding-left: 20px;
      }

      .form-group.a-check .btn{
        margin-right: 15px;
      }
    }
  }
}

.profile{

  .userProfileTop{
    background: white;
    border-radius: 2px;

    box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.14);

    @media screen and (max-width: 500px)
    {
      height: 75px;
    }

    .cover{

      .bannerMain{
        width: 100%;
        height: 200px;


        @media screen and (max-width: 500px)
        {
          display: none;
        }
        background-size: cover;

        border-top-right-radius: 2px;
        border-top-left-radius: 2px;

      }

      .mainProfileHold{
        margin-top: -100px;

        @media screen and (max-width: 500px)
        {
          margin-top: 0px;
        }

        .profileImage{
          text-align: center;

          @media screen and (max-width: 500px)
          {
            float: left;
          }

          img{
            width: 150px;
            height: 150px;

            @media screen and (max-width: 500px)
            {
              width: 75px;
              height: 75px;
              border-radius: 0px;

              border-top-left-radius: 2px;
              border-bottom-left-radius: 2px;
            }

            border-radius: 2px;
          }
        }

        .rightInfo{
          padding-top: 20px;
          padding-bottom: 40px;

          @media screen and (max-width: 500px)
          {
            padding-top: 16px;
            margin-left: 90px;
          }

          h3{
            @media screen and (max-width: 500px)
            {
              text-align: left;
            }

            text-align: center;

            font-weight: 500;
            font-size: 1.8em;

            @media screen and (max-width: 500px)
            {
              font-size: 1.1em;
              margin-bottom: 0px;
            }

            color: $primaryColor;
          }

          h4{
            @media screen and (max-width: 500px)
            {
              text-align: left;
            }

            text-align: center;

            font-weight: 300;
            font-size: 1.2em;

            @media screen and (max-width: 500px)
            {
              font-size: 1.1em;
            }

            color: $hrefFontLight;
          }

          text-align: center;

          a{
            margin-top: 15px;
            text-align: center;
          }
        }
      }
    }
  }
}