@import 'main';

.innerWebsite{
  @media screen and (max-width: 767px)
  {
    height: auto !important;
  }
  
  padding-bottom: 200px;
}

// Header reset
.left-branding h3 a{
  color: $primaryDarkColor !important;
}

.main-container{
  @media screen and (max-width: 767px)
  {
    padding-top: 100px;
  }

  margin: 0% auto;
  padding-top: 200px;

  .topArea{

    h3{
      font-size: 3.5em;
      font-weight: 400;

      text-align: center;
    }

    p{
      text-align: center;
      margin-top: 20px;

      font-size: 1.2em;

      color: $defaultPrimaryFont;
    }
  }

  .divider{
    width: 250px;

    margin: 0% auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .row{

    .mainLoginCont{
      width: 370px;
      margin: 0% auto;
    }
  }
}