/*
Main configuration
---
Copyright: 2018
Site built and designed by Sitelyft Studios (https://sitelyftstudios.com)
*/

// Configuration
@import 'includes/config';
@import 'includes/Reset';

// Plugins
//@import 'includes/materialize';
@import 'includes/bootstrap';
@import 'includes/Animate';

/*
Table of contents
---

1. Header
 - Links
 - Headings
 - Responsiveness
 - Positioning
 - Logged in header
 - Logged out header
2. Sidebar
3. Footer
*/

.header{
  height: 50px;
  background: white;
  z-index: 10001;

  .inner-header{

    .left-branding{
      float: left;

      h3{
        font-size: 1.2em;
        font-weight: 600;

        margin-top: 14px;

        a {
          color: white;
        }
      }
    }

    .right-navigation{
      float: right;

      .inner-navigation{
        padding-top: 13px;

        @media screen and (max-width: 840px)
        {
          padding-top: 0px;
        }

        .inner-navigation-list{

          .mobileHide{
            display: inline-block;

            @media screen and (max-width: 840px)
            {
              display: none;
            }

            li{
              display: inline-block;
              margin-left: 18px;


              a{
                color: $hrefFontLight;
              }

              a:hover{
                color: $hrefFontDark;
              }
            }

            li.special{
              font-weight: 600;

              a {
                color: $hrefFontDark !important;
              }
            }
          }

          li.mobileRegister{
            display: none;

            @media screen and (max-width: 840px)
            {
              display: inline;
            }
            padding: 5px;
            margin-right: 2px;
            border: 2px solid $primaryColor;
            border-radius: 3px;
            padding-right: 15px;
            padding-left: 15px;
            margin-left: 10px;

            background: $primaryColor;

            a{
              color: #fff;
            }
          }

          li.mobileSidebarOpen{
            display: none;

            @media screen and (max-width: 840px)
            {
              display: inline-block;
            }

            font-size: 1.9em;

            color: #333;

            padding-left: 13px;

            position: relative;
            top: 5px;

            cursor: pointer;
          }
        }
      }
    }
  }
}

.header.absolute-top{
  position: absolute;
  top: 0px;
}

.header.transparent{
  background: transparent !important;
}

.header.logged-header{
  height: 80px;
  //border-bottom: 1px solid rgba(0,0,0, .1);

  @media screen and (max-width: 500px)
  {
    padding-right: 0px;
    padding-left: 0px;
  }

  .inner-header {
    padding-top: 10px;

    @media screen and (max-width: 500px)
    {
      padding-right: 0px;
    }

    .mobileNotificationHold, .mobileSearchHold{
      @media screen and (max-width: 500px){
        width: 100%;
        margin: 0% auto;
      }

      width: 320px;

      position: fixed;
      top: 0px;

      right: 0px;

      z-index: 100001;

      background: white;
      padding: 20px;

      box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.14);

      height: 100%;

      display: none;

      .topName{
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;

        margin-bottom: 20px;

        h3{
          font-weight: 500;
          font-size: 1em;

          float: left;
        }

        span{
          color: $hrefFontLight;
          float: right;
        }
      }

      .bottomContent{
        height: 92%;
        overflow-y: auto;
      }
    }

    .left-branding {
      float: left;

      h3 {
        font-size: 1.5em;
        font-weight: 600;

        margin-top: 14px;

        a {
          color: $darkPrimaryFont;
        }
      }
    }

    .right-navigation{
      @media screen and (max-width: 500px)
      {
        padding-top: 10px;
      }

      .inner-navigation{

        .inner-navigation-list{

          li{
            display: inline;
            margin-right: 15px;

            a.nav-icon{
              font-size: 1.2em;
              color: $darkPrimaryFont;
            }

            a{

              .notePill {
                position: absolute;
                left: 5px;
                top: -14px;

                font-size: 60%;
                font-weight: 400;

                border: 3px solid #efefef;
              }

              .notePill.hidden{
                display: none;
              }

              .logged-pp{
                height: 40px;
                width: 40px;

                border-radius: 3px;
                background-size: cover;

                display: inline-block;
              }
            }
          }

          li:not(.logged-pp-hold){
            position: relative;
            top: -15px;
          }

          li.logged-pp-hold{
            position: relative;
            top: -3px;

            margin-right: 0px;
          }

          li.mobileSidebarOpen {
            top: -8px;

            @media screen and (min-width: 1000px)
            {
              display: none;
            }
          }

          .mobileHide{

            li{

              a{
                color: $darkPrimaryFont;
              }
            }
          }
        }
      }
    }
  }
}

// Sidebar
.sidebarMain{
  width: 300px;

  @media screen and (max-width: 340px)
  {
    width: 260px;
  }

  background: $primaryColor;

  height: 100vh;

  position: fixed;

  top: 0px;
  right: 0px;

  z-index: 10001;

  .innerSidebar{
    width: 100%;

    padding: 50px;
    padding-top: 0px;

    margin: 0% auto;

    background: $primaryColor;
    height: 100%;

    .topHead{
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;

      img{
        height: 55px;
      }

      h3{
        padding-top: 20px;
        font-weight: 500;
        font-size: 1.2em;

        color: #333;

        text-decoration: none;
      }
    }

    .bottomMenu{
      padding-top: 25px;

      ul{

        li{
          padding-bottom: 25px;

          a{
            color: #fff;
            font-size: 1.2em;
          }

          a:hover{
            color: #333;
          }
        }

        li.special{
          padding: 13px;

          display: inline-block;
          margin-right: 2px;

          border: 2px solid #fff;
          border-radius: 3px;

          padding-right: 15px;
          padding-left: 15px;

          width: 100%;
          text-align: center;

          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}

// Footer
.footer{
  background: $primaryDarkColor;

  position: relative;
  z-index: 100000001;

  .topFooter{

    background: lighten($primaryDarkColor, 3%);
    padding: 7px;

    height: 50px;

    .container{

      h3{
        text-align: center;
        font-size: 1.2em;
        font-weight: 100;

        margin: 0px;
        padding-top: 5px;

        a{
          color: white;
        }
      }
    }
  }

  .bottomFooter{
    padding: 20px;

    padding-top: 30px;
    padding-bottom: 30px;

    .topBottomFooter{
      margin: 0% auto;

      h3{
        text-align: center;
        color: white;

      }
    }

    .middleNavigation{
      padding-top: 20px;

      ul{
        text-align: center;

        li{
          margin-right: 15px;
          display: inline-block;

          a{
            color: white;
          }
        }

        li:last-child{
          margin-right: 0px;
        }
      }
    }

    .bottomBottomFooter{
      border-top: 1px solid rgba(0,0,0,.1);
      padding-top: 20px;

      text-align: center;

      .copyright{
        font-size: 1.2em;

        color: white;
      }

      .builtBy{

        color: white;
        font-size: .9em;
      }
    }
  }
}

.fade{
  background: rgba(0,0,0,.7);

}

.boxOverlay{
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1001;

  background: rgba(0,0,0,.7);
  display: none;
}

// Tutorial
.tutorial_overlay{
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;

  background: rgba(0,0,0,.8);

  z-index: 10000001;
}

.tutorial_main_hold{
  width: 400px;
  height: auto;
  background: white;

  margin-top: -150px;
  margin-left: -200px;

  border-radius: 3px;

  position: fixed;

  top: 50%;
  left: 50%;

  z-index: 100000002;

  .inner_tutorial_hold{

    .tutorial_page.hidden{
      display: none;
    }

    .tutorial_page{
      padding: 15px;

      .inner_page{

        .top_page{
          border-bottom: 1px solid #eee;
          padding: 10px;

          h2{
            font-size: 1em;
            font-weight: 300;

            color: $hrefFontLight;

            text-align: center;

          }

          h3{
            color: $primaryColor;

            font-weight: 500;
            text-align: center;
          }
        }

        .middle_page{
          padding-top: 10px;
          padding-bottom: 10px;

          border-bottom: 1px solid #eee;

          p{
            font-weight: 500;
            text-align: center;

            margin: 0px;
            padding: 0px;
          }
        }

        .bottom_page{
          text-align: center;

          h4{
            text-align: center;
            color: $hrefFontLight;

            font-size: 1em;

            padding-top: 10px;

          }

          .btn{

          }

          .btn.tutorial_skip_btn{
            color: $darkPrimaryFont;
            background: $hrefFontLight;

            font-weight: 500;
          }

          .btn.tutorial_next_btn, .btn.tutorial_finished_btn{
            color: white;
            background: $primaryColor;

            font-weight: 500;
          }
        }
      }
    }
  }
}