@import 'main';

.website, .innerWebsite{
  height: auto !important;
  padding-bottom: 60px;
}

.card.profileLink{

  .cardTop{
    padding: 15px;
    padding-bottom: 0px;

    h3{
      font-size: 1.0em;
      font-weight: 400;

      margin: 0px;
    }
  }

  .cardBottom{
    padding: 15px;
    padding-top: 0px;
  }
}

.timelineMiddle{
  padding-top: 100px;

  @media screen and (max-width: 500px)
  {
    padding-top: 80px;
  }

  .inner{

    .rightSidebar{

      .no_footer{
        margin-top: 10px;

        ul{
          padding: 0px;
          margin: 0px;

          margin-bottom: 10px;

          li{
            display: inline-block;
            margin-right: 5px;

            a{
              color: $hrefFontLight;

              font-weight: 500;
              font-size: .9em;
            }
          }
        }

        span{
          color: $hrefFontLight;
          font-weight: 500;
          font-size: .9em;

          a{
            color: $primaryColor;
          }
        }
      }

      .card{
        box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.14);
        border: none;
      }

      .card.profileLink{

        .cardTop{
          padding: 15px;
          padding-bottom: 0px;

          h3{
            font-size: 1.0em;
            font-weight: 400;

            margin: 0px;
          }
        }

        .cardBottom{
          padding: 15px;
          padding-top: 0px;
        }
      }

      .card.latestUsers{
        max-height: 300px;

        .cardTop{
          padding: 15px;
          padding-bottom: 0px;

          h3{
            font-size: 1.2em;
            font-weight: 400;
          }
        }

        .cardBottom{
          padding: 15px;
          margin-bottom: 5px;

          height: 230px;

          overflow-y: auto;
        }
      }

      .card.ads{
        max-height: 300px;

        .cardTop{
          padding: 15px;
          padding-bottom: 0px;

          h3{
            font-size: 1.2em;
            font-weight: 400;

            a{
              float: right;
              font-size: .8em;
              font-weight: 500;

              color: $hrefFontLight;
            }
          }
        }

        .cardBottom{
          padding: 15px;
          margin-bottom: 5px;

          overflow-y: auto;
        }
      }

      .card.userMod{

        .rightProfile{
          padding: 15px;

          h3{
            font-size: 1.4em;
            margin-bottom: 0px;

            a {
              color: $primaryColor;
            }
          }

          h4{
            font-size: 1.0em;
            font-weight: 300;

            color: $hrefFontLight;

            margin-bottom: 0px;
          }
        }

        .leftProfile{

          img{
            width: 100%;
            border-top-right-radius: 2px;
            border-top-left-radius: 2px;

          }
        }
      }
    }

    .leftFeed{

      .top{
        background: white;

        box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.14);
        border-radius: 2px;

        margin-bottom: 20px;

        height: 67px;

        ul{
          margin-bottom: 0px;

          .rightLinks{

            li{
              @media screen and (max-width: 500px)
              {
                padding-bottom: 17px;
              }
            }
          }

          li{
            display: inline-block;
            margin-right: 15px;

            padding: 20px;

            @media screen and (max-width: 500px)
            {
              margin-right: 0px;
            }

            h3{
              @media screen and (max-width: 500px)
              {
                font-size: 1em;
              }

              font-size: 1.2em;
              margin-bottom: 0px;

              color: $hrefFontLight;
            }
          }

          li.active{
            border-bottom: 4px solid $primaryColor;

            h3{
              color: $darkPrimaryFont;
            }
          }

          li:hover {
            cursor: pointer;
            border-bottom: 4px solid $primaryColor;

            h3 {
              color: $darkPrimaryFont;
            }
          }
        }
      }

      .bottom{
        @media screen and (min-width: 1000px) {
          column-count: 2;
        }

        @media screen and (max-width: 999px) {
          column-count: 1;
        }

        // Posting station
        .topPostingStation{

          .innerPostingStation{
            background: white;

            box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.14);
            padding: 15px;

            border-radius: 2px;

            //border-top: 4px solid $primaryColor;

            form{

              .topArea{
                border-bottom: 1px solid #eee;

                .innerArea{

                  padding-bottom: 13px;

                  .profilePicLeft{
                    height: 35px;
                    width: 35px;

                    float: left;

                    .pp{
                      width: 100%;
                      height: 100%;

                      background-size: cover;

                      border-radius: 50%;
                    }
                  }

                  .userInfo{
                    margin-left: 45px;
                    padding-top: 7px;

                    h3{
                      font-size: 1.0em;
                      font-weight: 400;

                      color: $darkPrimaryFont;
                    }
                  }
                }
              }

              .middleArea{

                .innerMiddleArea{

                  .input-group{
                    padding-top: 10px;

                    textarea{
                      width: 100%;
                      height: 50px;

                      outline: none;
                      border: none;

                      resize: none;

                    }
                  }
                }
              }

              .bottomArea.hidden{
                display: none;
              }

              .bottomArea{
                padding-top: 15px;
                border-top: 1px solid #eee;

                .rightAction{
                  float: right;
                }

                .leftPostTypeArea{

                  .privacyList{
                    float: left;
                    margin-top: 3px;
                    padding-bottom: 0px;

                    .wrapper-dropdown-1 {

                      .wrapper-drop-head{
                        background: #fff;

                        //border: 1px solid rgba(0, 0, 0, .1);

                        width: 135px;

                        border-radius: 2px;

                        cursor: pointer;

                        padding: 5px;

                        span{
                          padding-left: 7px;
                        }
                      }

                      .priv-carrot{
                        float: right;
                        color: #333;
                      }

                      .dropdown.hidden{
                        display: none;
                      }

                      .dropdown{
                        background: white;
                        position: absolute;
                        width: 195px;

                        margin-top: 10px;

                        border-radius: 2px;

                        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

                        .privActive{
                          background: rgba(0,0,0,.1);
                        }

                        li{
                          padding: 5px;
                          border-bottom: 1px solid #eee;

                          h3{
                            font-weight: 400;
                            font-size: 1em;
                            color: #333;
                          }

                          div{
                            padding-left: 24px;
                            font-size: 14px;
                            font-weight: 400;
                            color: #aaa;
                          }
                        }

                        li:hover{
                          cursor: pointer;
                          background: rgba(0,0,0,.1);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .bottomTimelineFeed{
          @media screen and (min-width: 1000px) {
            column-count: 2;
          }

          @media screen and (max-width: 999px) {
            column-count: 1;
          }

          margin-top: 20px;

          border-top: 2px solid rgba(0,0,0,.1);

          padding-top: 18px;

          // Thought
          .post.thought{
            border-top: 4px solid $primaryColor;

            .topPost{

              .innerTopPost{

                .right{

                  h3{
                    font-size: 1.2em;
                    font-weight: 500;

                    a {
                      color: $primaryColor;
                    }
                    margin-bottom: 3px;
                    padding-top: 0px;
                  }

                  .subType{
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    font-size: .8em;
                  }
                }
              }
            }
          }

          // Diary
          .post.diary{
            border-top: 4px solid #636e72;
            background: #2d3436;

            .topPost{

              .innerTopPost{

                .right{

                  h3{
                    font-size: 1.2em;
                    font-weight: 500;

                    a {
                      color: white;
                    }

                    margin-bottom: 3px;
                    padding-top: 0px;
                  }

                  .subType{
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    font-size: .8em;

                  }
                }
              }
            }

            .middlePost{

              .innerMiddlePost{
                padding: 15px;
                padding-top: 0px;

                .topMiddle {
                  p {
                    font-size: .9em;
                    line-height: 1.2em;

                    color: white;
                    margin-bottom: 0px;
                  }
                }

                .bottomMiddle{

                  ul{
                    margin: 0px;
                    padding: 0px;

                    li{
                      display: inline;
                      margin-right: 10px;

                      a{
                        color: $hrefFontLight;
                      }
                    }
                  }
                }
              }
            }
          }

          // Base
          .post{
            background: white;
            display: inline-block;

            width: 100%;

            box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.14);

            margin-bottom: 20px;

            .topPost{
              padding: 15px;

              .innerTopPost{

                .left{
                  float: left;

                  .pp{
                    width: 40px;
                    height: 40px;

                    border-radius: 50%;

                    background-size: cover;
                  }
                }

                .right{
                  margin-left: 50px;

                  h3{
                    font-size: 1.2em;
                    font-weight: 500;

                    a {
                      color: $primaryColor;
                    }
                    margin-bottom: 3px;
                    //padding-top: 8px;
                  }

                  h4{
                    font-size: .8em;
                    font-weight: 400;

                    color: $hrefFontLight;
                  }
                }
              }
            }

            .middlePost{

              .innerMiddlePost{
                padding: 15px;
                padding-top: 0px;

                .topMiddle {
                  p {
                    font-size: .9em;
                    line-height: 1.2em;
                  }
                }

                .bottomMiddle{

                  ul{
                    margin: 0px;
                    padding: 0px;

                    li{
                      display: inline;
                      margin-right: 10px;

                      a{
                        color: $hrefFontLight;
                      }
                    }

                    li.unlike{

                      a{
                        color: #ff7675;
                      }
                    }

                    li.hidden{
                      display: none;
                    }
                  }
                }
              }
            }

            .bottomPost.hidden{
              display: none;
            }

            .bottomPost{

              .innerBottomPost{
                padding: 15px;

                padding-bottom: 0px;
                padding-top: 0px;

                .commentsHold{

                  .row{

                    .reply{
                      width: 100%;
                      border-top: 1px solid rgba(0,0,0,.2);

                      background: #F9F9F9;

                      .leftProfile{
                        width: 60px;
                        height: 60px;

                        float: left;

                        padding-right: 10px;

                        .innerPP{
                          width: 100%;
                          height: 50px;

                          background-size: cover;
                        }
                      }

                      .rightProfile{
                        margin-left: 50px;

                        padding: 10px;

                        h3{
                          font-size: .8em;
                          font-weight: bold;

                          span{
                            color: $hrefFontLight;
                            font-weight: 400;
                          }

                          a{
                            color: $hrefFontDark;
                          }
                        }

                        p{
                          margin-bottom: 0px;
                        }
                      }
                    }
                  }
                }

                .commentMaker{

                  form{

                    .row{
                      background: #F9F9F9;
                      border-top: 1px solid rgba(0,0,0,.2);

                      .pp{
                        float: left;

                        .mainpphold{
                          width: 50px;
                          height: 50px;

                          background-size: cover;
                        }
                      }

                      .input{
                        width: 100%;
                        margin-left: 50px;
                        margin-top: -50px;

                        input[type="text"]{
                          width: 100%;
                          height: 50px;

                          border: none;
                          padding: 10px;

                          background: transparent;

                          outline: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .message.replyActive{
          padding-bottom: 0px;
        }

        .message{
          padding: 15px;
          background: white;

          border-radius: 2px;

          box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.14);

          margin-bottom: 20px;

          .sentTo{
            width: 100%;

            margin-bottom: 10px;

            border-bottom: 1px solid #eee;
            padding-bottom: 10px;

            p{
              padding: 0px;
              margin: 0px;
            }
          }

          .innerMessage{

            .topMessage{

              .leftProfile{
                float: left;

                img{
                  height: 55px;
                  width: 55px;

                  border-radius: 2px;
                }

                .pp{
                  height: 55px;
                  width: 55px;

                  border-radius: 2px;

                  background-size: cover;
                }
              }

              .rightProfile{
                margin-left: 70px;
                padding-top: 5px;

                h3{
                  font-size: 1.3em;
                  font-weight: 500;

                  margin-bottom: 3px;

                  a{
                    color: $primaryColor;
                  }
                }

                h4.date{
                  color: $hrefFontLight;

                  font-size: 1em;
                  font-weight: 500;
                }
              }
            }

            .innerMessageMain{

              .topText{
                padding-top: 10px;
              }

              .bottomText{

                ul{
                  margin-bottom: 0px;

                  li{
                    display: inline-block;
                    margin-right: 10px;

                    a{
                      color: $hrefFontLight;
                    }
                  }
                }
              }
            }

            .replyBox{
              margin-top: 10px;
              display: none;

              .replyMainHold{

                .row{

                  .reply{
                    width: 100%;
                    border-top: 1px solid rgba(0,0,0,.2);

                    .leftProfile{
                      width: 60px;
                      height: 60px;

                      float: left;

                      padding-right: 10px;

                      .innerPP{
                        width: 100%;
                        height: 50px;

                        background-size: cover;
                      }
                    }

                    .rightProfile{
                      margin-left: 50px;

                      padding: 10px;

                      h3{
                        font-size: .8em;
                        font-weight: bold;

                        span{
                          color: $hrefFontLight;
                          font-weight: 400;
                        }

                        a{
                          color: $hrefFontDark;
                        }
                      }

                      p{
                        margin-bottom: 0px;
                      }
                    }
                  }
                }
              }

              .replyMaker{
                background: #F9F9F9;

                form{

                  .row{
                    background: #F9F9F9;

                    .pp{
                      float: left;

                      .mainpphold{
                        width: 50px;
                        height: 50px;

                        background-size: cover;
                      }
                    }

                    .input{
                      width: 100%;
                      margin-left: 50px;
                      margin-top: -50px;

                      input[type="text"]{
                        width: 100%;
                        height: 50px;

                        border: none;
                        padding: 10px;

                        background: transparent;

                        outline: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Tutorial
.tutorial_overlay{
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;

  background: rgba(0,0,0,.8);

  z-index: 10000001;
}

.tutorial_main_hold{
  width: 400px;
  height: auto;
  background: white;

  margin-top: -150px;
  margin-left: -200px;

  border-radius: 3px;

  position: fixed;

  top: 50%;
  left: 50%;

  z-index: 100000002;

  .inner_tutorial_hold{

    .tutorial_page.hidden{
      display: none;
    }

    .tutorial_page{
      padding: 15px;

      .inner_page{

        .top_page{
          border-bottom: 1px solid #eee;
          padding: 10px;

          h2{
            font-size: 1em;
            font-weight: 300;

            color: $hrefFontLight;

            text-align: center;

          }

          h3{
            color: $primaryColor;

            font-weight: 500;
            text-align: center;
          }
        }

        .middle_page{
          padding-top: 10px;
          padding-bottom: 10px;

          border-bottom: 1px solid #eee;

          p{
            font-weight: 500;
            text-align: center;

            margin: 0px;
            padding: 0px;
          }
        }

        .bottom_page{
          text-align: center;

          h4{
            text-align: center;
            color: $hrefFontLight;

            font-size: 1em;

            padding-top: 10px;

          }

          .btn{

          }

          .btn.tutorial_skip_btn{
            color: $darkPrimaryFont;
            background: $hrefFontLight;

            font-weight: 500;
          }

          .btn.tutorial_next_btn, .btn.tutorial_finished_btn{
            color: white;
            background: $primaryColor;

            font-weight: 500;
          }
        }
      }
    }
  }
}